{% extends 'base.html.twig' %}

{% block title %}MyMarks{% endblock %}

{% block body %}
<div class="container">
    <h1>MyMarks</h1>

    {% if not years %}
    <a href="{{path("year_add")}}"><i class="fas fa-plus-square"></i> {% trans %}Neues Schuljahr erstellen{% endtrans %}</a>
    {% elseif years|last.subjects|length > 0 %}
    <a href="{{path("mark_add", {"year":years|last.id})}}"><i class="fas fa-plus-square"></i> {% trans %}Neue Note{% endtrans %}</a>
    {% else %}
    <a href="{{path("subject_add", {"year":years|last.id})}}"><i class="fas fa-plus-square"></i> {% trans %}Neues Schulfach hinzufügen{% endtrans %}</a>
    {% endif %}
    <br>
    <br>
    <div class="list-group">
      <a href="{{ path('settings') }}" class="list-group-item list-group-item-action"><i class="fas fa-cogs"></i> {% trans %}Einstellungen{% endtrans %}</a>
      <a href="{{ path('year') }}" class="list-group-item list-group-item-action"><i class="fas fa-calendar-alt"></i> {% trans %}Schuljahre{% endtrans %}</a>
      {% if is_granted("ROLE_ADMIN")%}<a href="{{path("admin_dashboard")}}" class="list-group-item list-group-item-action"><i class="fas fa-columns"></i> Adminpanel</a>{% endif %}
    </div>
</div>
{% endblock %}
