{% extends 'base.html.twig' %}

{% block title %}{% trans %}Adminpanel{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>{% trans %}Adminpanel{% endtrans %}</h1>
    <div class="row">
        <div class="col col-sm-12 col-md-6">
            <h3>Nutzer</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>username</th>
                            <th>email</th>
                            <th>roles</th>
                            <th>created_at</th>
                            <th>changed_at</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.roles|join(', ')}}</td>
                            <td>{{user.createdAt|date('Y-m-d G:i:s')}}</td>
                            {% if user.changedAt is null %}
                                <td>{% trans %}nie{% endtrans %}</td>
                            {% else %}
                                <td>{{user.changedAt|date('Y-m-d G:i:s')}}</td>
                            {% endif %}
                            <td><a href="{{path("admin_user_edit", {"user": user.id})}}"><i class="fa fa-user-cog"></i></a> <a href="{{path("admin_user_newpass", {"user": user.id})}}"><i class="fas fa-key"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6">
            <a href="{{path("admin_template")}}"><h3>Vorlagen (global &amp; aktiv)</h3></a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>ersteller</th>
                            <th>created_at</th>
                            <th>changed_at</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for template in templates %}
                        <tr>
                            <th scope="row">{{template.id}}</th>
                            <td>{{template.name}}</td>
                            <td>{{template.creator.username}}</td>
                            <td>{{template.createdAt|date('Y-m-d G:i:s')}}</td>
                            {% if template.changedAt is null %}
                                <td>{% trans %}nie{% endtrans %}</td>
                            {% else %}
                                <td>{{template.changedAt|date('Y-m-d G:i:s')}}</td>
                            {% endif %}
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
