{% extends 'base.html.twig' %}

{% block title %}{% trans %}Alle Fächer {% endtrans %}{% endblock %}

{% block body %}

<div class="container">
    <br>
    <h1>{% trans %}Alle Fächer {% endtrans %}</h1>
    <a href="{{path("year")}}"><i class="fas fa-long-arrow-alt-left"></i> {% trans %}Zurück{% endtrans %}</a>
    <br>
    <a href="{{path('subject_add', {"year": year.id})}}"><i class="fas fa-plus-square"></i> {% trans %}Neues Fach hinzufügen{% endtrans %}</a>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Erstellt{% endtrans %}</th>
                <th>{% trans %}Letzte Änderung{% endtrans %}</th>
                <th>{% trans %}Durchschnitt{% endtrans %}</th>
                <th></th>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr class="table-{{averages[loop.index-1].markClass}}">
                    <td><a href="{{path("mark_detailed_view", {"subject": subject.id})}}">{{subject.name|trans()}}</a></td>
                    <td>{{subject.createdAt|date('Y-m-d G:i:s')}}</td>
                    <td>{{subject.changedAt|date('Y-m-d G:i:s')}}</td>
                    <td>{{averages[loop.index-1].mark}}</td>
                    <td><a href="{{path('subject_edit', {'subject': subject.id})}}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
