{% extends 'base.html.twig' %}

{% block title %}{% trans %}Vorlagen{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>{% trans %}Vorlagen{% endtrans %}</h1>
    <br>
    <a href="{{path("admin_template_add")}}"><i class="fa fa-plus-square"></i> {% trans %} Neue Vorlage hinzufügen{% endtrans %}</a>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Ersteller</th>
                    <th>Erstellt</th>
                    <th>Letzte Änderung</th>
                    <th>global</th>
                    <th>aktiv</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for template in templates %}
                <tr>
                    <th scope="row">{{template.id}}</th>
                    <td>{{template.name}}</td>
                    <td>{{template.creator.username}}</td>
                    <td>{{template.createdAt|date('Y-m-d G:i:s')}}</td>
                    {% if template.changedAt is null %}
                        <td>{% trans %}nie{% endtrans %}</td>
                    {% else %}
                        <td>{{template.changedAt|date('Y-m-d G:i:s')}}</td>
                    {% endif %}
                    <td><i class="fas {% if template.isglobal %}fa-check-square text-success{% else %}fa-times-circle text-danger{% endif %}"></i></td>
                    <td><i class="fas {% if template.isactive %}fa-check-square text-success{% else %}fa-times-circle text-danger{% endif %}"></i></td>
                    <td><a href="{{path("admin_template_edit", {"template": template.id})}}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}